{% extends 'base.html' %}

{% load static %}



{% block title %}
    Reybarbershop - Agenda Ronaldo
{% endblock %}


{% block content %}
    <h3>Ronaldo</h3>
    <p>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FSao_Paulo&src=ZDQ0ZjllODRjYzM0ZjY5MDc4ODc5ZjIzNDY2ODMwN2NjNGZjMmJkNjY1YWI0ZmMyYjkxZTg5ODA5N2IyZjUzOUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23B39DDB" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </p>
{% endblock %} 